* {
    box-sizing: border-box;
}

::selection {
    color: black;
}

@sudoku-cell-size: 60px;

body {
    background-color: #B8AE9C;
    font-family: 'Droid Sans', sans-serif;
    margin: 5px;
}

.sudoku-row {
    clear: both;
    padding-bottom: @sudoku-cell-size / 10;
    overflow: auto;
    width: 100%;
}

.sudoku-cell {
    background-color: #FFFFFF;
    box-shadow: 1px 1px 4px #595241;
    cursor: pointer;
    display: block;
    font-size: @sudoku-cell-size * (5 / 6);
    float: left;
    height: @sudoku-cell-size;
    overflow: hidden;
    text-align: center;
    width: @sudoku-cell-size;
}

.sudoku-cell-3 {
    height: @sudoku-cell-size;
    margin-left: @sudoku-cell-size / 10;
    width: @sudoku-cell-size * 4 + @sudoku-cell-size / 4;
}

.sudoku-cell.is-selected {
    background-color: yellow;
}

.sudoku-cell + .sudoku-cell {
    margin-left: @sudoku-cell-size / 10;
}

.sudoku-group-cell-2 {
    background-color: #ACCFCC;
}
